{%- if page.layout == "post" -%}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | relative_url | prepend: site.url }}"
      },
      "headline": {{ page.title | jsonify }},
      {%- if page.excerpt -%}
        "description": {{ page.excerpt | strip_html | normalize_whitespace | jsonify }},
      {%- else -%}
        "description": {{ content | strip_html | truncatewords: 50 | normalize_whitespace | jsonify }},
        {%- endif -%}
        {%- if page.header.teaser -%}
          "image" : "{{ page.header.teaser | relative_url | prepend: site.url }}",
          {%- endif -%}
          "datePublished": "{{ page.date | date_to_xmlschema }}",
          "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
          "author": {
            "@type": "Person",
            "name": {{ site.author | jsonify }},
            "url": "{{ '/meet-maria' | relative_url | prepend: site.url }}"
          },
          "publisher": {
            "@type": "Organization",
            "name": {{ site.name | jsonify }},
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.logo | relative_url | prepend: site.url }}"
            }
          }
        }
  </script>
{%- else -%}
  {%- assign sitetext = site.data.sitetext -%}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "MedicalBusiness",
      "name": {{ site.name | jsonify }},
      "description": {{ sitetext.about.body | strip_html | normalize_whitespace | jsonify }},
      "url": {{ site.url | jsonify }},
      "logo": {{ site.logo | prepend: site.url | jsonify }},
      "telephone": {{ site.phone-numeric | jsonify }},
      "image": "{{ sitetext.team.people[0].image | prepend: site.url }}",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Atlanta",
        "addressRegion": "GA",
        "addressCountry": "US"
      },
      "areaServed": [
        {%- for neighborhood in sitetext.location_info.neighborhoods -%}
          {
            "@type": "City",
            "name": {{ neighborhood | append: ", GA" | jsonify }}
          }{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
      ],
      {%- assign expertise = "" | split: "" -%}
      {%- for group in sitetext.about.what-we-treat -%}
        {%- for item in group.items -%}
          {%- assign expertise = expertise | push: item -%}
        {%- endfor -%}
      {%- endfor -%}
      "knowsAbout": {{ expertise | jsonify }},
      "sameAs": ["{{ site.instagram_url }}", "{{ site.google_business_url }}"]
    }
  </script>
{%- endif -%}