<!-- Book -->
<section class="page-section" id="{{ site.data.sitetext.book.section | default: "book" }}">
  <div class="container">
    <!-- Section header include -->
    {% include _section_header title=site.data.sitetext.book.title subtitle=site.data.sitetext.book.subtitle %}
    <!-- Contact info -->
    <div class="border p-4 rounded bg-light text-center gap-y-5">
      <p>
        <a href="tel:{{ site.phone-numeric }}" class="text-dark">
          <i class="fas fa-phone-alt mr-2 fa-sm d-inline d-sm-none"></i>
          <i class="fas fa-phone-alt mr-3 fa-lg d-none d-sm-inline"></i>

          <span class="h6 d-inline d-sm-none">{{ site.phone-text }}</span>
          <span class="h4 d-none d-sm-inline">{{ site.phone-text }}</span>
        </a>
      </p>
      <p>
        <a href="mailto:{{ site.email }}" class="text-dark">
          <i class="fas fa-envelope mr-2 fa-sm d-inline d-sm-none"></i>
          <i class="fas fa-envelope mr-3 fa-lg d-none d-sm-inline"></i>

          <span class="h6 d-inline d-sm-none">{{ site.email }}</span>
          <span class="h4 d-none d-sm-inline">{{ site.email }}</span>
        </a>
      </p>
    </div>

    <div class="mt-5 text-center text-muted">
      <h5>Or, schedule time with Maria below!</h5>
    </div>
  <!-- Calendly inline widget begin -->
  {% comment %} <div
          class="calendly-inline-widget"
          data-url="https://calendly.com/playfulprogressions-info/phone-consultation"
          style="min-width:320px;height:700px;"></div>
        <script
          type="text/javascript"
          src="https://assets.calendly.com/assets/external/widget.js"
        async></script> {% endcomment %}
  <!-- Calendly inline widget end -->
  </div>
</section>
<!-- End About -->