<footer
  class="footer"
  id="footer"
  style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        {% comment %} Adjusted column width {% endcomment %}
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
      {% comment %} Removed Social Media block {% endcomment %}
      <div class="col-md-6">
        {% comment %} Adjusted column width - Removed text-right {% endcomment %}
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="{{ '/privacy-policy/' | relative_url }}" class="footer-privacy-link">{{ site.data.sitetext.footer.legal | default: "Privacy Policy" }}</a>
          {% comment %} Link to the new privacy policy page - Added class for styling {% endcomment %}
          </li>
        {% comment %} Add other quick links here if needed {% endcomment %}
        {% comment %}
          <li class="list-inline-item">
          <a href="#">Terms of Use</a>
          </li>
        {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</footer>
{% comment %} Script for fixing footer position on short pages {% endcomment %}
{% if page.layout == "page" %}
  {% comment %} This condition might need adjustment based on your layouts {% endcomment %}
  <script>
      fixPageShort();
      function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
      }
  </script>{% endif %}
{% comment %} PASTE THE NEW SCHEMA CODE HERE {% endcomment %}
{%- assign sitetext = site.data.sitetext -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MedicalBusiness",
    "name": {{ site.name | jsonify }},
    "description": {{ sitetext.about.body | strip_html | normalize_whitespace | jsonify }},
    "url": {{ site.url | jsonify }},
    "logo": {{ site.logo | prepend: site.url | jsonify }},
    "telephone": {{ site.phone-numeric | jsonify }},
    "image": "{{ sitetext.team.people[0].image | prepend: site.url }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Atlanta",
      "addressRegion": "GA",
      "addressCountry": "US"
    },
    "areaServed": [
      {%- for neighborhood in sitetext.about.neighborhoods -%}
        {
          "@type": "City",
          "name": {{ neighborhood | append: ", GA" | jsonify }}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ],
    "sameAs": ["{{ site.instagram_url }}", "{{ site.google_business_url }}"]
  }
</script>