<footer
  class="footer"
  id="footer"
  style="background-color: white">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        <a href="{{ '/privacy-policy/' | relative_url }}" class="footer-link">{{ site.data.sitetext.footer.legal | default: "Privacy Policy" }}</a>
      </div>

      <div class="col-md-6 text-center">
        <a class="footer-link" href="{{ '/service-areas/' | relative_url }}">
          <span>Serving Atlanta, GA</span>
          {% for neighborhood in site.data.sitetext.about.neighborhoods %}
            <span>
              | {{ neighborhood }}</span>
          {% endfor %}
        </a>
      </div>

    </div>
  </div>
</footer>

{% if page.layout == "page" %}
  <script>
      fixPageShort();
      function fixPageShort() {
        if (window.innerHeight > document.body.offsetHeight) {
          document.getElementById("footer").style.position = "fixed";
          document.getElementById("footer").style.bottom = 0;
          document.getElementById("footer").style.right = 0;
          document.getElementById("footer").style.left = 0;
          document.getElementById("footer").style.width = "100%";
        }
      }
  </script>
{% endif %}

{%- assign sitetext = site.data.sitetext -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MedicalBusiness",
    "name": {{ site.name | jsonify }},
    "description": {{ sitetext.about.body | strip_html | normalize_whitespace | jsonify }},
    "url": {{ site.url | jsonify }},
    "logo": {{ site.logo | prepend: site.url | jsonify }},
    "telephone": {{ site.phone-numeric | jsonify }},
    "image": "{{ sitetext.team.people[0].image | prepend: site.url }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Atlanta",
      "addressRegion": "GA",
      "addressCountry": "US"
    },
    "areaServed": [
      {%- for neighborhood in sitetext.about.neighborhoods -%}
        {
          "@type": "City",
          "name": {{ neighborhood | append: ", GA" | jsonify }}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ],
    "sameAs": ["{{ site.instagram_url }}", "{{ site.google_business_url }}"]
  }
</script>