<!-- Testimonial -->
<section class="page-section" id="{{ site.data.sitetext.testimonial.section | default: "about" }}">
  <div class="container">
    <!-- Section header include -->
    {% include _section_header title=site.data.sitetext.testimonial.title subtitle=site.data.sitetext.testimonial.subtitle %}
    <div class="row">
      {% for obj in site.data.sitetext.testimonial.quotes %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <p class="large text-muted">"{{ obj.text }}"</p>
            <h4>{{ obj.name }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Testimonial -->