// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
  color: $white;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-l {
  font-size: 14px;
  padding: 15px 30px;
}

.btn-m {
  font-size: 12px;
  padding: 10px 20px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }
  &:disabled,
  &.disabled {
    background-color: lighten($primary, 15%);
    border-color: lighten($primary, 15%);
    cursor: not-allowed;
    opacity: 0.65;
  }
}
.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  &:hover {
    background-color: darken($secondary, 7.5%) !important;
    border-color: darken($secondary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    background-color: darken($secondary, 7.5%) !important;
    border-color: darken($secondary, 7.5%) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5);
  }
}
.btn-action {
  background-color: $action;
  border-color: $action;
  &:hover {
    background-color: darken($action, 7.5%) !important;
    border-color: darken($action, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    background-color: darken($action, 7.5%) !important;
    border-color: darken($action, 7.5%) !important;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba($action, 0.5);
  }
}
