.skip-link {
  position: absolute;
  top: -9999px;
  left: 0;
  z-index: 9999;
  padding: 1rem;
  background-color: $white;
  color: $primary;
  text-decoration: none;
  border: 1px solid $primary;

  &:focus {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
