<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

    <body id="page-top">

    {{ content }}

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery.min.js" defer></script>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/js/bootstrap.bundle.min.js" defer></script>

    <!-- Plugin JavaScript (Scroll animations, etc.) -->
    <script src="assets/js/jquery.easing.min.js" defer></script>

    <!-- Contact form JavaScript -->
    <script src="assets/js/jqBootstrapValidation.js" defer></script>
    <script src="assets/js/contact_me.js" defer></script>

    <!-- Custom scripts for this template -->
    <script src="assets/js/agency.min.js" defer></script>

  </body>
</html>