#about {
    .card {
        background-color: #f9f9f9;
        border-radius: 10px;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

// _sass/layout/_about.scss

// More specific overrides to win the !important war
#what-we-treat .card {
    .h4 {
        font-weight: 700 !important;
    }
    .text-muted {
        color: $gray-700 !important; // Use a dark gray and !important
    }
}

.blockquote .text-muted {
    color: #555 !important; // A darker shade of gray
}

.blockquote .blockquote-footer {
    color: #555 !important; // A darker shade of gray
}
